.archblock{
    margin-bottom: 2em;
}
.archtitle{
    height: 72px;
    overflow: hidden;
    margin-bottom: 0;
}

.pagination{
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}
.pagination>li {
    display: inline;
}
.pagination>li:first-child>a, .pagination>li:first-child>span {
    margin-left: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}
.img-thumb{
    width: 120px;
    height: 90px;
    margin-right: 0.1em;
    margin-bottom: 0.3em;
}
video.video-single{
    width: 100%;
    height: auto;
}
footer .left{
    display: inline;
}
footer .right{
    float: right;
}
.hide{
    display: none;
}