{{ partial "header.html" . }}
  <body>
    {{ partial "nav.html" . }}
    <main role="main">

      {{ partial "banner.html" . }}
      
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-3 col-lg-2">
            {{ partial "nav-side.html" . }}
          </div>
          <div class="col-sm-12 col-md-9 col-lg-10">
            <div class="row">
                {{ range (.Paginator 60).Pages }}
                    <div class="col-sm-6 col-md-4 col-lg-2 archblock">
                        <img class="img-responsive" src="http://{{.Params.mainimgurl}}" alt="">
                        <p class="archtitle">{{.Title | truncate 40}}</p>
                        <p><a class="btn btn-primary" href="{{.Permalink}}" role="button">View details &raquo;</a></p>
                    </div>
                {{ end }}
            </div>
            {{ template "_internal/pagination.html" . }}
          </div>
        </div>

        <hr>

      </div> <!-- /container -->
    </main>
    {{ partial "footer.html" . }}
    {{ partial "js.html" . }}
  </body>
</html>