{{ partial "header.html" . }}
  <body>
    {{ partial "nav.html" . }}
    <main role="main">

      {{ partial "banner.html" . }}
      
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-3 col-lg-2">
            {{ partial "nav-side.html" . }}
            
          </div>
          <div class="col-sm-12 col-md-9 col-lg-10">
            <div class="row">
              <div class="col-sm-12 col-md-12 col-lg-12">
                <h3>{{ .Title }}</h3>
              </div>
              <div class="col-sm-12 col-md-4 col-lg-2">
                <img class="img-responsive" src="http://{{ .Params.mainimgurl }}" alt="">
              </div>
              <div class="col-sm-12 col-md-8 col-lg-10">
                <div class="row">
                  <div class="col-sm-12 col-md-6 col-lg-6">
                    <p>Release Date: {{ .Params.releasedate }}</p>  
                    <p>Affiliate Site: {{ .Params.affsite }}</p>  
                  </div>
                  <div class="col-sm-12 col-md-6 col-lg-6">
                    <p>Duration: {{ .Params.duration }}</p>  
                    <p>Production: {{ .Params.productioncomp }}</p>  
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12 col-md-12 col-lg-12">
                    <p>{{ if .Params.girls }}Actress: {{range .Params.girls}}<a href="{{ "/girls/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> &nbsp; {{end}}{{end}}</p>
                    <p>{{ if .Params.categories }}Categories: {{range .Params.categories}}<a href="{{ "/categories/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> &nbsp; {{end}}{{end}}</p>
                    <p><a class="btn btn-primary" href="{{ .Params.urlfinal }}" role="button" target="_blank" rel="noopener noreferrer">View High Quality &raquo;</a></p>
                  </div>

                </div>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-sm-12 col-md-12 col-lg-12">
                {{ range $.Params.imgurls }}
                <img class="img-thumb" src="https://{{ . }}">
                {{ end }}
                <h4>Sample:</h4>
                <p>
                  <video class="video-single" controls>
                    <source src="http://{{ .Params.samplevid }}" type="video/mp4">
                      Your browser does not support the video tag.
                    </video>
                  </p>
                  <p><a class="btn btn-primary" href="{{ .Params.urlfinal }}" role="button" target="_blank" rel="noopener noreferrer">View High Quality &raquo;</a></p>
              </div>
            </div>
          </div>
        </div>

        <hr>

      </div> <!-- /container -->
    </main>
    {{ partial "footer.html" . }}
    {{ partial "js.html" . }}
  </body>
</html>