{{ partial "header.html" . }}
  <body>
    {{ partial "nav.html" . }}
    <main role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">Hello, world!</h1>
          <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
          <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-3 col-lg-2">
            {{ partial "nav-side.html" . }}
          </div>
          <div class="col-sm-12 col-md-9 col-lg-10">
            <div class="row">
              <div class="col-sm-6 col-md-4 col-lg-2">
                <img class="img-responsive" src="images/r18thumbnail.jpg" alt="">
                <p>title</p>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
              </div>
              <div class="col-sm-6 col-md-4 col-lg-2">
                <img class="img-responsive" src="images/r18thumbnail.jpg" alt="">
                <p>title</p>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
              </div>
              <div class="col-sm-6 col-md-4 col-lg-2">
                <img class="img-responsive" src="images/r18thumbnail.jpg" alt="">
                <p>title</p>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
              </div>
              <div class="col-sm-6 col-md-4 col-lg-2">
                <img class="img-responsive" src="images/r18thumbnail.jpg" alt="">
                <p>title</p>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
              </div>
              <div class="col-sm-6 col-md-4 col-lg-2">
                <img class="img-responsive" src="images/r18thumbnail.jpg" alt="">
                <p>title</p>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
              </div>
              <div class="col-sm-6 col-md-4 col-lg-2">
                <img class="img-responsive" src="images/r18thumbnail.jpg" alt="">
                <p>title</p>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
              </div>
            </div>
          </div>
        </div>

        <hr>

      </div> <!-- /container -->
      {{ $url := "datacsv/scraperr18singles.csv" }}
      {{ $sep := "," }}
      {{ range $i, $r := getCSV $sep $url }}
        <tr>
          <td>{{ index $r 0 }}</td>
          <td>{{ index $r 1 }}</td>
          <td>{{ index $r 2 }}</td>
        </tr>
      {{ end }}

    </main>
    {{ partial "footer.html" . }}
    {{ partial "js.html" . }}
  </body>
</html>